section{
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;    
}

section > .login{
     width: 80%;
     min-height: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
}

.login >p{
    padding: 2rem;
    text-transform: uppercase;
    color: #7C2335;
    font-weight: 500;
}

.inputBox{
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(191, 190, 190);
    margin: 2rem 0;
}

.inputBox:last-of-type{
    border: none;
    margin: 0;
}

.inputBox >label{
     padding-right: 2rem;
     font-size: 1.2rem;
}

.inputBox >input{
     border: none;
     outline: none;
     font-size: 1rem;
}


.inputBox >p{
     text-align: start;
     font-size: small;
     font-weight: 500;
     color: rgb(155, 153, 153); 
}

.inputBox >p> .link{
    text-decoration: none;
    color: #7C2335;
}

.inputBox >h6> .link{
    text-decoration: none;
    color: rgb(120, 102, 105);
    font-size: .8rem;
    font-weight: 400;
}



form >button{
    width: 100%;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    margin: 2rem 0;
    background-color: #7C2335;
    padding: .5rem 0;
    cursor: pointer;
}

form >button:hover{
    background-color: #7a4953; 
}